.select .main {
    border: 1px solid #000;
    display: inline-block;
    min-height: 20px;
    min-width: 50px;
}

.items {
    border: 1px solid black;
    position: absolute;
    padding: 5px;
}

.item.selected {
    background-color: blue;
    color: white;
}

