.circle-red {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: red;
}

.circle-green {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: green;
}

.square {
    display: flex;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #474444;
}